{% extends "template.html" %}

{% block content %}

<title> Services </title>
<div align="center">
<h1> Real-Time Updates </h1>
<br>
<br>
<h3> Always be On Time! </h3>
<h5> We constantly liase with government and private travel providers to ensure that our services are refreshed and kept up to date. </h5>
<br>
<br>
<h1> Travel Made Easy! </h1>
<br>
<br>
<h3> Car-Pooling? </h3>
<h5> Let us know if you are providing a car-pooling service by getting in <a href="/contact"> touch! </a> </h5>
</div>
{% endblock %}